@use '../custom' as *;
@use '../components/mixins' as *;

.companies {
    padding: 0 0 5rem 0;

    @include media-breakpoint-down(sm) {
       display: none;
    }



    &__logo-box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;

        img {
            height: 100%;


            &:hover {
                filter: grayscale(120);
            }
        }
    }
}