@use '../custom' as *;
@use '../components/mixins' as *;


.services-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #ddf0fc;
    @include box-sizing;
}

#btns * {
    @include effects;
  }
  
  #btns {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    @include boxshadow;
  }
  
  .btnS {
    position: relative;
    padding: 10px 20px 25px;
    width: 25%;
    background: #111;
    font-family: lato;
    cursor: pointer;
    @include box-sizing;
  }
  
  /* Button Backgrounds */
  
  .btnS:nth-child(1) {
    background: #117ec3;
  }
  
  .btnS:nth-child(2) {
    background: #1491e1;
  }
  
  .btnS:nth-child(3) {
    background: #2ba1eb;
  }
  
  .btnS:nth-child(4) {
    background: #49afef;
  }
  /* Arrows */
  
  .btnS:nth-child(1):after,
  .btnS:nth-child(2):after,
  .btnS:nth-child(3):after {
    position: absolute;
    top: 45%;
    right: -18px;
    z-index: 1;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #117ec3;
    @include effects;
  }
  
  .btnS:nth-child(2):after {
    border-left: 20px solid #1491e1;
  }
  
  .btnS:nth-child(3):after {
    border-left: 20px solid #2ba1eb;
  }
  /* Icon */
  
  .btnS .icon {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    transform-origin: center;
    transform: scale(0.9);
    color: $primary-color;
  }
  
  .btnS .icon svg {
    fill: currentColor;
  }
  
  .btnS .icon path {
    fill: currentColor;
  }
  
  .btnS .icon {
    fill: currentColor;
  }
  
  /* Text Styles */
  
  .btnS h2 {
    margin-bottom: 15px;
    text-align: center;
    color: $primary-color;
    font-family: raleway;
    font-size: 1.4em;
    line-height: 1em;
    font-weight: 400;
  }
  
  .btnS p {
    color: $primary-color;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
  }
  
  /* Hover Effects */
  
  .btnS:hover {
    background: #0b6ca9;
  }
  
  .btnS:hover:after {
    border-left: 20px solid #0b6ca9;
  }
  
  .btnS:hover .icon {
    transform-origin: center;
    transform: scale(1);
    color: $primary-color;
    //font-size: 5rem;
  }
  
  .btnS:hover h2 {
    color: $primary-color;
  }
  
  /* Media Queries */
  
  @media all and (max-width: 950px) and (min-width: 701px) {
    .btnS {
      width: 50%;
    }
    
    .btnS:nth-child(2):after {
      border-left: 0px;
    }
  }
  
  @media all and (max-width: 700px) and (min-width: 0px) {
    .btnS {
      display: block;
      width: 100%;
    }
    
    .btnS:nth-child(1):after,
    .btnS:nth-child(2):after,
    .btnS:nth-child(3):after {
      border-left: 0px;
    }
  }



///gfhfjdtyifghjk
.outer-container{
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 500px;
}

.just {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  float: left;
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 10px 0px #3C385C;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container1{
  background: #5967C3;
  background: -webkit-linear-gradient(left top, #5967C3, #83cedc);
  background: linear-gradient(to bottom right, #5967C3, #83cedc);
}

.container2{
  background: #ffaec2;
  background: -webkit-linear-gradient(left top, #ffaec2, #7e4aaf);
  background: linear-gradient(to bottom right, #ffaec2, #7e4aaf);
  margin-left: -50px;
  z-index: 2;
}

.container3{
  background: #CA619C;
  background: -webkit-linear-gradient(left top, #CA619C, #DBC084);
  background: linear-gradient(to bottom right, #CA619C, #DBC084);
  margin-left: -50px;
}

.active{
  z-index: 3;
  top: -25px;
  height: 300px;
}

.title{
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 15px;
}

.title::after{
  content: '';
  display: block;
  height: 3.5px;
  width: 13px;
  background-color: #FFF;
  border-radius: 15px;
  margin: 5px auto 0 auto;
}

.main_number{
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0; right: 0;
  text-align: center;
  font-size: 11rem;
  color: #FFFFFF;
  opacity: 0.2;
  font-weight: 800;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main_number::before{
  content: '£';
  font-size: 2rem;
  position: absolute;
  top: 40px;
  left: 40px;
}

.active .main_number{
  top: 45%;
}

.just .a{
  text-decoration: none;
  color: #3C385C;
  font-weight: 800;
  font-size: 0.7rem;
  background-color: #FFF;
  width: 170px;
  line-height: 40px;
  display: block;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 0; right: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.just .a .span{
  opacity: 0.6;
}

.active .a{
  bottom: -20px;
}

.active .a .span{
  opacity: 1;
}

.container_text{
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0; right: 0;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active .container_text{
  top: 65%;
}

.container_text .span{
  display: block;
}

.container_text1{
  font-size: 0.9rem;
}

.container_text2{
  font-size: 2.5rem;
}

