@use '../custom' as *;
@use '../components/mixins' as *;


.services-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background: #ddf0fc;
    @include box-sizing;
}

#btns * {
    @include effects;
  }
  
  #btns {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    @include boxshadow;
  }
  
  .btnS {
    position: relative;
    padding: 10px 20px 25px;
    width: 25%;
    background: #111;
    font-family: lato;
    cursor: pointer;
    @include box-sizing;
  }
  
  /* Button Backgrounds */
  
  .btnS:nth-child(1) {
    background: #117ec3;
  }
  
  .btnS:nth-child(2) {
    background: #1491e1;
  }
  
  .btnS:nth-child(3) {
    background: #2ba1eb;
  }
  
  .btnS:nth-child(4) {
    background: #49afef;
  }
  /* Arrows */
  
  .btnS:nth-child(1):after,
  .btnS:nth-child(2):after,
  .btnS:nth-child(3):after {
    position: absolute;
    top: 45%;
    right: -18px;
    z-index: 1;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #117ec3;
    @include effects;
  }
  
  .btnS:nth-child(2):after {
    border-left: 20px solid #1491e1;
  }
  
  .btnS:nth-child(3):after {
    border-left: 20px solid #2ba1eb;
  }
  /* Icon */
  
  .btnS .icon {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    transform-origin: center;
    transform: scale(0.9);
    color: $primary-color;
  }
  
  .btnS .icon {
    fill: currentColor;
  }
  
  .btnS .icon {
    fill: currentColor;
  }
  
  .btnS .icon {
    fill: currentColor;
  }
  
  /* Text Styles */
  
  .btnS h2 {
    margin-bottom: 15px;
    text-align: center;
    color: $primary-color;
    font-family: raleway;
    font-size: 1.4em;
    line-height: 1em;
    font-weight: 400;
  }
  
  .btnS p {
    color: $primary-color;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
  }
  
  /* Hover Effects */
  
  .btnS:hover {
    background: #0b6ca9;
  }
  
  .btnS:hover:after {
    border-left: 20px solid #0b6ca9;
  }
  
  .btnS:hover .icon {
    transform-origin: center;
    transform: scale(1);
    color: $primary-color;
    //font-size: 5rem;
  }
  
  .btnS:hover h2 {
    color: $primary-color;
  }
  
  /* Media Queries */
  
  @media all and (max-width: 950px) and (min-width: 701px) {
    .btnS {
      width: 50%;
    }
    
    .btnS:nth-child(2):after {
      border-left: 0px;
    }
  }
  
  @media all and (max-width: 700px) and (min-width: 0px) {
    .btnS {
      display: block;
      width: 100%;
    }
    
    .btnS:nth-child(1):after,
    .btnS:nth-child(2):after,
    .btnS:nth-child(3):after {
      border-left: 0px;
    }
  }
