@use '../custom' as *;
@use '../components/mixins' as *;


/*Navbar */
.autohide{
    position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 1030;
  }
  .scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

body {
    padding-top: 0 !important;
}

.intro-section {
    @include gradient;
    padding: 6rem 0 0 0;
    width: 100%;
    height: 100%;

}

.intros {


    .video-box {
        position: relative;


        a {
            position: absolute;
            @include absoluteCenter;
            span {


                i {
                    font-size: 6rem;
                    color: $primary;

                }
            }
        }
    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;


    &--border-1 {
        animation-delay: 1s;
    }

    &--border-2 {
        animation-delay: 1.5s;
    }
}