@use '../custom' as *;

//GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));
}


//ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//TRANSITION PROPERTY
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}

// SERVICES DETAILS SECTION

@mixin box-sizing {
    box-sizing: border-box;
}
@mixin transition {
    transition: all .3s ease-in-out;
}
@mixin boxshadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}